<nav class="navbar navbar-expand-lg shadow-sm position-sticky z-3   top-0 w-100 ">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold d-flex gap-2 align-items-center " href="#"><img src="/assets/images/logo.png" width="30" alt=""> <p class="fs-5 m-0 ft-Marcel"> Nandu Foundation</p> </a>
      <button class="navbar-toggler border-0  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center  ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about-us/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about-us/">About Us</a></li>
                <li><a class="dropdown-item" href="/about-us/">Vision & Mission</a></li>
                <li><a class="dropdown-item" href="/about-us/">Objectives</a></li>
                <li><a class="dropdown-item" href="/about-us/">FAQs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/chairperson-message/">Chairperson's Message</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/our-services/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Our Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/our-services/">Services</a></li>
                <li><a class="dropdown-item" href="/our-services/">Treatment and Vaccination</a></li>
                <li><a class="dropdown-item" href="/our-services/">Adoption</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Want To Help
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/want-to-help/">How To help?</a></li>
                <li><a class="dropdown-item" href="/want-to-help/">Volunteer</a></li>
                <li><a class="dropdown-item" href="/want-to-help/">Donate Us</a></li>
                <li><a class="dropdown-item" href="/want-to-help/">Sponsor an Animal</a></li>
                <li><a class="dropdown-item" href="/want-to-help/">Adopt an Animal</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blogs/">Blogs</a>
          </li>
          
          
          
          
        </ul>
        <a href="/contact-us/"><button class="sec-btn ">Contact Us</button></a>
        <a href="/contact-us/"><button class="prim-btn ms-3">Donate Us</button></a>
      </div>
    </div>
</nav>