body{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background: #fbf8f1;
}
.navbar{
    background: #fbf8f1;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }

.nav-item{
    margin: 0 5px;
    font-size: 16px;
}

.prim-btn{
    background: #2f1500;
    color: #fff;
    padding: 6px 20px;
    border-radius: 52px;
    font-size: 15px;
    border: none;
}

.sec-btn{
    background: #00000000;
    color: #000000;
    padding: 5px 20px;
    border-radius: 52px;
    font-size: 15px;
    border: 1px solid #2f1500;
}
.ft-taren{
    font-family: "Tangerine", cursive;
}

.ft-Marcel{
    font-family: "Marcellus", serif;
}

.ft-jos{
    font-family: "Josefin Sans", sans-serif;
}
.display-1{
    font-size: 6em;
}

.w-80{
    width: 80%;
}

.animg{
    width: 40%;
}




.contact-banner{
    background: #2f1500b1;
    height: 10vh;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
.all-links{
    background: #2f1500;
    height: 50vh;
    gap: 1rem;
}
.linkers{
    width: 20%;
    color: white;
}
.linkers p{
    width: 95%;
    font-size: 16px;
    font-weight: 300;
}
.linkers ul{
    list-style:  none;
}
.linkers ul>li{
    line-height:  2em;
    font-size: 16px;
    font-weight: 300;
    
}
.linkers ul>li a{
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.fs-6{
    font-size: 17px !important;
    line-height: 30px;
}

@media only screen and (max-width: 1025px) {
    .abt{
        flex-direction: column;
    }
    .abt img{
        width: 70%;
        margin-top: 40px;
    }
    .container{
        max-width: 95%;
    }

}
@media only screen and (max-width: 769px) {
    
    .mfc{
        flex-direction: column;
        align-items: center;
        
    }

    .mfc{
        gap:0 !important;
    }
    .display-6{
        text-align: center;
    }
    .all-links{
        flex-direction: column;
        height: auto;
        align-items: center !important;
    }
    .linkers {
        width: 80%;
        color: white;
   
        border-top: 1px solid #888;
        padding: 27px 0;
    }
    .display-1 {
        font-size: 3em;
    }

}

@media only screen and (max-width: 426px) {
    .abt img{
        width: 100%;
    }
    .fs-3,.fs-5,.fs-4{
        font-size: 18px !important;
    }
    

}